// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 3.2.0.18.0
// Netlist written on Sat Dec  3 16:54:06 2022
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/jzales/desktop/e155finalproject/e155finalproject/lattice/latticee155finalproject/source/impl_1/main.sv"
// file 1 "c:/lscc/radiant/3.2/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/3.2/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/3.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/3.2/ip/avant/fifo/rtl/lscc_fifo.v"
// file 23 "c:/lscc/radiant/3.2/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 24 "c:/lscc/radiant/3.2/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 25 "c:/lscc/radiant/3.2/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 26 "c:/lscc/radiant/3.2/ip/avant/rom/rtl/lscc_rom.v"
// file 27 "c:/lscc/radiant/3.2/ip/common/adder/rtl/lscc_adder.v"
// file 28 "c:/lscc/radiant/3.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 29 "c:/lscc/radiant/3.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 30 "c:/lscc/radiant/3.2/ip/common/counter/rtl/lscc_cntr.v"
// file 31 "c:/lscc/radiant/3.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/3.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/3.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/3.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/3.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/3.2/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/3.2/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/3.2/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/3.2/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/3.2/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/3.2/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/3.2/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/3.2/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/3.2/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/3.2/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/3.2/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/3.2/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/3.2/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/3.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input clk, input sck, input sdi, input ce, output pwm);
    
    (* is_clock=1, lineinfo="@0(19[8],19[15])" *) wire int_osc;
    
    wire GND_net, VCC_net, pwm_c;
    
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@0(49[16],49[50])" *) freqGenerator freqer (int_osc, pwm_c, 
            GND_net, VCC_net);
    (* lineinfo="@0(10[25],10[28])" *) OB pwm_pad (.I(pwm_c), .O(pwm));
    VLO i1 (.Z(GND_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(GND_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    
endmodule

//
// Verilog Description of module freqGenerator
//

module freqGenerator (input int_osc, output pwm_c, input GND_net, input VCC_net);
    
    (* is_clock=1, lineinfo="@0(19[8],19[15])" *) wire int_osc;
    wire [31:0]n133;
    (* lineinfo="@0(424[14],424[21])" *) wire [31:0]counter;
    
    wire clkStrobe, clkStrobe_N_66, toneFreq_N_65, n40, n45, n44, 
        n42, n43, n41, n50, n49, n11, n7, n154, n631, n156, 
        n152, n628, n150, n625, n148, n622, n146, n619, n144, 
        n616, n142, n613, n160, n640, n158, n637, n140, n610, 
        n138, n607, n136, n604, n134, n601, n132, n598, n130, 
        n595, n592, n634, VCC_net_c, GND_net_c;
    
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i31 (.D(n133[31]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[31]));
    defparam counter_7__i31.REGSET = "RESET";
    defparam counter_7__i31.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=16, LSE_RCOL=50, LSE_LLINE=49, LSE_RLINE=49, lineinfo="@0(446[12],448[5])" *) FD1P3XZ clkStrobe_c (.D(clkStrobe_N_66), 
            .SP(VCC_net_c), .CK(int_osc), .SR(GND_net_c), .Q(clkStrobe));
    defparam clkStrobe_c.REGSET = "RESET";
    defparam clkStrobe_c.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i30 (.D(n133[30]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[30]));
    defparam counter_7__i30.REGSET = "RESET";
    defparam counter_7__i30.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@0(451[3],451[39])" *) LUT4 toneFreq_I_33_2_lut (.A(pwm_c), 
            .B(clkStrobe), .Z(toneFreq_N_65));
    defparam toneFreq_I_33_2_lut.INIT = "0x6666";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(447[16],447[42])" *) LUT4 i14_4_lut (.A(counter[27]), 
            .B(counter[15]), .C(counter[24]), .D(counter[23]), .Z(n40));
    defparam i14_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(447[16],447[42])" *) LUT4 i19_4_lut (.A(counter[30]), 
            .B(counter[22]), .C(counter[19]), .D(counter[5]), .Z(n45));
    defparam i19_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(447[16],447[42])" *) LUT4 i18_4_lut (.A(counter[17]), 
            .B(counter[4]), .C(counter[2]), .D(counter[16]), .Z(n44));
    defparam i18_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(447[16],447[42])" *) LUT4 i16_4_lut (.A(counter[8]), 
            .B(counter[31]), .C(counter[0]), .D(counter[21]), .Z(n42));
    defparam i16_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(447[16],447[42])" *) LUT4 i17_4_lut (.A(counter[25]), 
            .B(counter[6]), .C(counter[26]), .D(counter[10]), .Z(n43));
    defparam i17_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(447[16],447[42])" *) LUT4 i15_4_lut (.A(counter[28]), 
            .B(counter[18]), .C(counter[12]), .D(counter[20]), .Z(n41));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(447[16],447[42])" *) LUT4 i24_4_lut (.A(n41), 
            .B(n43), .C(n42), .D(n44), .Z(n50));
    defparam i24_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(447[16],447[42])" *) LUT4 i23_4_lut (.A(n45), 
            .B(counter[1]), .C(n40), .D(counter[29]), .Z(n49));
    defparam i23_4_lut.INIT = "0xfffe";
    (* lut_function="((B+((D)+!C))+!A)" *) LUT4 i4_4_lut (.A(counter[13]), 
            .B(n49), .C(counter[11]), .D(n50), .Z(n11));
    defparam i4_4_lut.INIT = "0xffdf";
    (* lut_function="(A (B))", lineinfo="@0(447[16],447[42])" *) LUT4 i2_2_lut (.A(counter[14]), 
            .B(counter[7]), .Z(n7));
    defparam i2_2_lut.INIT = "0x8888";
    (* lut_function="(!(((C+!(D))+!B)+!A))", lineinfo="@0(447[16],447[42])" *) LUT4 i4_4_lut_adj_35 (.A(n7), 
            .B(counter[3]), .C(n11), .D(counter[9]), .Z(clkStrobe_N_66));
    defparam i4_4_lut_adj_35.INIT = "0x0800";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_27 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[25]), .D0(n154), .CI0(n154), .A1(GND_net), 
            .B1(GND_net), .C1(counter[26]), .D1(n631), .CI1(n631), .CO0(n631), 
            .CO1(n156), .S0(n133[25]), .S1(n133[26]));
    defparam counter_7_add_4_27.INIT0 = "0xc33c";
    defparam counter_7_add_4_27.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[23]), .D0(n152), .CI0(n152), .A1(GND_net), 
            .B1(GND_net), .C1(counter[24]), .D1(n628), .CI1(n628), .CO0(n628), 
            .CO1(n154), .S0(n133[23]), .S1(n133[24]));
    defparam counter_7_add_4_25.INIT0 = "0xc33c";
    defparam counter_7_add_4_25.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i29 (.D(n133[29]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[29]));
    defparam counter_7__i29.REGSET = "RESET";
    defparam counter_7__i29.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i28 (.D(n133[28]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[28]));
    defparam counter_7__i28.REGSET = "RESET";
    defparam counter_7__i28.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i27 (.D(n133[27]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[27]));
    defparam counter_7__i27.REGSET = "RESET";
    defparam counter_7__i27.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i26 (.D(n133[26]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[26]));
    defparam counter_7__i26.REGSET = "RESET";
    defparam counter_7__i26.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i25 (.D(n133[25]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[25]));
    defparam counter_7__i25.REGSET = "RESET";
    defparam counter_7__i25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i24 (.D(n133[24]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[24]));
    defparam counter_7__i24.REGSET = "RESET";
    defparam counter_7__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i23 (.D(n133[23]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[23]));
    defparam counter_7__i23.REGSET = "RESET";
    defparam counter_7__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i22 (.D(n133[22]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[22]));
    defparam counter_7__i22.REGSET = "RESET";
    defparam counter_7__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i21 (.D(n133[21]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[21]));
    defparam counter_7__i21.REGSET = "RESET";
    defparam counter_7__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i20 (.D(n133[20]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[20]));
    defparam counter_7__i20.REGSET = "RESET";
    defparam counter_7__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i19 (.D(n133[19]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[19]));
    defparam counter_7__i19.REGSET = "RESET";
    defparam counter_7__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i18 (.D(n133[18]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[18]));
    defparam counter_7__i18.REGSET = "RESET";
    defparam counter_7__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i17 (.D(n133[17]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[17]));
    defparam counter_7__i17.REGSET = "RESET";
    defparam counter_7__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i16 (.D(n133[16]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[16]));
    defparam counter_7__i16.REGSET = "RESET";
    defparam counter_7__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i15 (.D(n133[15]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[15]));
    defparam counter_7__i15.REGSET = "RESET";
    defparam counter_7__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i14 (.D(n133[14]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[14]));
    defparam counter_7__i14.REGSET = "RESET";
    defparam counter_7__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i13 (.D(n133[13]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[13]));
    defparam counter_7__i13.REGSET = "RESET";
    defparam counter_7__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i12 (.D(n133[12]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[12]));
    defparam counter_7__i12.REGSET = "RESET";
    defparam counter_7__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i11 (.D(n133[11]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[11]));
    defparam counter_7__i11.REGSET = "RESET";
    defparam counter_7__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i10 (.D(n133[10]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[10]));
    defparam counter_7__i10.REGSET = "RESET";
    defparam counter_7__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i9 (.D(n133[9]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[9]));
    defparam counter_7__i9.REGSET = "RESET";
    defparam counter_7__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i8 (.D(n133[8]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[8]));
    defparam counter_7__i8.REGSET = "RESET";
    defparam counter_7__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i7 (.D(n133[7]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[7]));
    defparam counter_7__i7.REGSET = "RESET";
    defparam counter_7__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i6 (.D(n133[6]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[6]));
    defparam counter_7__i6.REGSET = "RESET";
    defparam counter_7__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i5 (.D(n133[5]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[5]));
    defparam counter_7__i5.REGSET = "RESET";
    defparam counter_7__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i4 (.D(n133[4]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[4]));
    defparam counter_7__i4.REGSET = "RESET";
    defparam counter_7__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i3 (.D(n133[3]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[3]));
    defparam counter_7__i3.REGSET = "RESET";
    defparam counter_7__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i2 (.D(n133[2]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[2]));
    defparam counter_7__i2.REGSET = "RESET";
    defparam counter_7__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i1 (.D(n133[1]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[1]));
    defparam counter_7__i1.REGSET = "RESET";
    defparam counter_7__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=16, LSE_RCOL=50, LSE_LLINE=49, LSE_RLINE=49, lineinfo="@0(450[12],452[5])" *) FD1P3XZ toneFreq (.D(toneFreq_N_65), 
            .SP(VCC_net_c), .CK(int_osc), .SR(GND_net_c), .Q(pwm_c));
    defparam toneFreq.REGSET = "RESET";
    defparam toneFreq.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[21]), .D0(n150), .CI0(n150), .A1(GND_net), 
            .B1(GND_net), .C1(counter[22]), .D1(n625), .CI1(n625), .CO0(n625), 
            .CO1(n152), .S0(n133[21]), .S1(n133[22]));
    defparam counter_7_add_4_23.INIT0 = "0xc33c";
    defparam counter_7_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n148), .CI0(n148), .A1(GND_net), 
            .B1(GND_net), .C1(counter[20]), .D1(n622), .CI1(n622), .CO0(n622), 
            .CO1(n150), .S0(n133[19]), .S1(n133[20]));
    defparam counter_7_add_4_21.INIT0 = "0xc33c";
    defparam counter_7_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n146), .CI0(n146), .A1(GND_net), 
            .B1(GND_net), .C1(counter[18]), .D1(n619), .CI1(n619), .CO0(n619), 
            .CO1(n148), .S0(n133[17]), .S1(n133[18]));
    defparam counter_7_add_4_19.INIT0 = "0xc33c";
    defparam counter_7_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n144), .CI0(n144), .A1(GND_net), 
            .B1(GND_net), .C1(counter[16]), .D1(n616), .CI1(n616), .CO0(n616), 
            .CO1(n146), .S0(n133[15]), .S1(n133[16]));
    defparam counter_7_add_4_17.INIT0 = "0xc33c";
    defparam counter_7_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n142), .CI0(n142), .A1(GND_net), 
            .B1(GND_net), .C1(counter[14]), .D1(n613), .CI1(n613), .CO0(n613), 
            .CO1(n144), .S0(n133[13]), .S1(n133[14]));
    defparam counter_7_add_4_15.INIT0 = "0xc33c";
    defparam counter_7_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_33 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[31]), .D0(n160), .CI0(n160), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n640), .CI1(n640), .CO0(n640), 
            .S0(n133[31]));
    defparam counter_7_add_4_33.INIT0 = "0xc33c";
    defparam counter_7_add_4_33.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_31 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[29]), .D0(n158), .CI0(n158), .A1(GND_net), 
            .B1(GND_net), .C1(counter[30]), .D1(n637), .CI1(n637), .CO0(n637), 
            .CO1(n160), .S0(n133[29]), .S1(n133[30]));
    defparam counter_7_add_4_31.INIT0 = "0xc33c";
    defparam counter_7_add_4_31.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n140), .CI0(n140), .A1(GND_net), 
            .B1(GND_net), .C1(counter[12]), .D1(n610), .CI1(n610), .CO0(n610), 
            .CO1(n142), .S0(n133[11]), .S1(n133[12]));
    defparam counter_7_add_4_13.INIT0 = "0xc33c";
    defparam counter_7_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n138), .CI0(n138), .A1(GND_net), 
            .B1(GND_net), .C1(counter[10]), .D1(n607), .CI1(n607), .CO0(n607), 
            .CO1(n140), .S0(n133[9]), .S1(n133[10]));
    defparam counter_7_add_4_11.INIT0 = "0xc33c";
    defparam counter_7_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n136), .CI0(n136), .A1(GND_net), 
            .B1(GND_net), .C1(counter[8]), .D1(n604), .CI1(n604), .CO0(n604), 
            .CO1(n138), .S0(n133[7]), .S1(n133[8]));
    defparam counter_7_add_4_9.INIT0 = "0xc33c";
    defparam counter_7_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n134), .CI0(n134), .A1(GND_net), 
            .B1(GND_net), .C1(counter[6]), .D1(n601), .CI1(n601), .CO0(n601), 
            .CO1(n136), .S0(n133[5]), .S1(n133[6]));
    defparam counter_7_add_4_7.INIT0 = "0xc33c";
    defparam counter_7_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n132), .CI0(n132), .A1(GND_net), 
            .B1(GND_net), .C1(counter[4]), .D1(n598), .CI1(n598), .CO0(n598), 
            .CO1(n134), .S0(n133[3]), .S1(n133[4]));
    defparam counter_7_add_4_5.INIT0 = "0xc33c";
    defparam counter_7_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[1]), .D0(n130), .CI0(n130), .A1(GND_net), 
            .B1(GND_net), .C1(counter[2]), .D1(n595), .CI1(n595), .CO0(n595), 
            .CO1(n132), .S0(n133[1]), .S1(n133[2]));
    defparam counter_7_add_4_3.INIT0 = "0xc33c";
    defparam counter_7_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(counter[0]), .D1(n592), .CI1(n592), .CO0(n592), .CO1(n130), 
            .S1(n133[0]));
    defparam counter_7_add_4_1.INIT0 = "0xc33c";
    defparam counter_7_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@0(432[19],432[30])" *) FA2 counter_7_add_4_29 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[27]), .D0(n156), .CI0(n156), .A1(GND_net), 
            .B1(GND_net), .C1(counter[28]), .D1(n634), .CI1(n634), .CO0(n634), 
            .CO1(n158), .S0(n133[27]), .S1(n133[28]));
    defparam counter_7_add_4_29.INIT0 = "0xc33c";
    defparam counter_7_add_4_29.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(432[19],432[30])" *) FD1P3XZ counter_7__i0 (.D(n133[0]), 
            .SP(VCC_net_c), .CK(int_osc), .SR(clkStrobe), .Q(counter[0]));
    defparam counter_7__i0.REGSET = "RESET";
    defparam counter_7__i0.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net_c));
    VHI i1 (.Z(VCC_net_c));
    
endmodule
